body {
  padding-top: 1.6em;
}

/* Buildhub custom styles */
.well {
  padding: 15px;
}

.well p {
  margin-top: 10px;
}

.highlight {
  background-color: lightblue;
  color: #000;
  padding: .2em .3em 0;
  border-radius: 2px;
}

.loader {
    border: 16px solid #999;
    border-top: 16px solid #666;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Records list table */

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 65px;
}

.table-hover>tbody>tr.build-details:hover {
  background: none;
}

/* Search form */

.search-form .form-group {
  margin-bottom: 0;
}

.clearable-text {
  width: 100%;
}
.clearable-text input {
  width: 100%;
  padding-right: 18px;
}

.text-clear-btn {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

/* Filter widgets */

.scrollable-choices {
  max-height: 120px;
  overflow-y: scroll;
}

.scrollable-choices .checkbox {
  margin: 0;
}

.scrollable-choices .checkbox label .filter-value {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollable-choices .checkbox label .badge {
  position: absolute;
  right: 0;
}

/* Scrollbars (Sadly non-available in Firefox) */

::-webkit-scrollbar {
  width: 10px;
  height: 8px
}

::-webkit-scrollbar-thumb {
  background: #444;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-thumb:active {
  background: #777;
}

::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-track:hover {
  background: #2a2e31;
}

::-webkit-scrollbar-track:active {
  background: #2a2e31;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Close button icon */

.close {
  color: #bbb;
  opacity: 1;
  text-shadow: 0 1px 0 #333;
}

.close:hover, .close:focus, .close:active {
  color: #eee;
  opacity: 1;
  outline: 0;
}
