html {
  height: inherit;
  min-height: 100%;
  position: relative;
  width: inherit;
}

body {
  background-color: #ececec;
  margin-bottom: 54px;
}

header {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  margin-bottom: 24px;
  padding: 0 48px;
  position: relative;
}

.user {
  position: absolute;
  right: 48px;
  top: 0;
}

.ant-layout-sider {
  background-color: #fff;
  border-right: none;
}

.ant-layout-sider li {
  padding: 5px;
}

.ant-layout-content {
  padding-left: 20px;
  border-left: 1px solid #e9e9e9;
}

.mainContent {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 48px;
  margin-bottom: 24px;
  padding: 24px;
}

/* List of check results for a given release */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 20px;
}

footer {
  background-color: #fff;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}


@media (max-width: 992px) {
  .user {
    right: 5px;
  }

  .dashboard {
    display: block;
  }

  .mainContent {
    border-radius: 0;
    margin: 0;
    padding: 5px;
  }

  .ant-card {
      margin-bottom: 5px;
  }

  .ant-layout-sider {
    background-color: #fff;
    border-right: 1px solid #e9e9e9;
    left: -5px;
    top: -110px;
  }

  .ant-layout-sider .menu {
    padding: 5px;
  }

  .ant-layout-sider-zero-width-trigger {
    top: 20px;
  }

  .ant-layout-content {
    padding-left: 0;
    border-left: none;
  }
}
