html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ececec;
  margin-bottom: 30px;
}

header {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  margin-bottom: 24px;
  padding: 0 48px;
}

.mainContent {
  background-color: #fff;
  border-radius: 4px;
  margin: 0 48px;
  margin-bottom: 24px;
  padding: 24px;
}

/* List of check results for a given release */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 20px;
}

footer {
  background-color: #fff;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}
